@charset "utf-8";

$site-text-color: Gainsboro;
$site-background-color: #212126;
$navbar-color: #303038;
$sheet-background-color: #43434f;
$active-tab-color: #535363;

%absposfullwidth {
  position: absolute;
  width: 100%;
}

// This property (box-sizing) determines how content box
// dimensions behave when their padding and border change.
// NOT the margin.
// .class {
//   // Padding and border do influence width and height of content box.
//   // Default.
//   box-sizing: content-box;
//
//   // Padding and border don't influence width and height of content box
//   // Default for bootstrap.
//   // May cause problems with some stuff like google maps. Switch to other if so.
//   box-sizing: border-box;
// }

@media (min-width: 500px) {
  body {
    background-color: red;
  }
}

@media (max-width: 499px) {
  body {
    background-color: blue;
  }
}

body {
  @extend %absposfullwidth;
  background-color: $site-background-color;
  color: $site-text-color;

  div>footer {
    background-image: url("tactile_noise/tactile_noise.png");
    background-repeat: repeat-x;
  }
}

#copyright::before, #copyright::after {
  content: "👻";
}

footer {
  @extend %absposfullwidth;
  text-align: center;
  bottom: 0;
  padding: 10px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  // text-align: center;
  // font-size: 200%;
  // top: 0;
  // padding: 10px;
}

thead {
  background-color: #1a1c1e;
}

td, th {
  text-align: center;
  word-wrap: break-word;
}

table {
  table-layout: fixed;
}

caption {
  font-size: small;
  padding-left: 11%;
}

.sheet {
  padding-top: 50px;
  background-color: $sheet-background-color;
  height: 1975px
}

.nav-pills {
  background-color: $navbar-color;
}

// Debug
// Display grid
// [class="row"] {
//     outline: 1px dotted rgba(0, 0, 0, 0.25);
// }
//
// [class^="col-"] {
//     background-color: rgba(255, 0, 0, 0.2);
//     outline: 1px dotted rgba(0, 0, 0, 0.5);
// }

// 69363f -- lighter
// 442228 -- darker

.fuck {
}
